.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
    flex: 1;
    box-sizing: content-box;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.audio-item {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    line-height: 150px;
    background-color: #eee;
}