.imgContainer{
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    margin-top: 18px;
    margin-left: 45px;
    /* line-height: 200px; */
    text-align: center;
    font-size: 20px;
    overflow: hidden;
}

.thumb{
    height:100%;
    vertical-align: top;
}