.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.leftBar{
    flex: 0 0 50px;
    order: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}

.content{
    flex: 1;
    order: 2;
    display: flex;
    flex-direction: column;
}

.rightBar{
    flex: 0 0 230px;
    order: 3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    position: relative;
}

.panoContainer{
    flex: 1;
    order: 1;
    
}

.sceneContainer{
    order: 2;
    flex: 0 0 165px;
    border-top: 1px solid #ccc;
}

.leftBar .btn{
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.leftBar .btn:hover{
    background-color: rgba(0, 0, 0, 0.3);
    color:#FFF
}

.btnSelected{
    background-color: rgba(0, 0, 0, 0.3);
    color:#FFF
}

.leftBar .btn p{
    font-size: 15px;
}