ul{
    margin: 0;
    padding: 0;
}

li + li{
    border-top: 1px solid #eee
}

li{
    padding: 5px;
}

li:hover{
    background: #ccc;
    color: #FFF;
    cursor: pointer;
}

li div{
    font-size: 15px;
    line-height: 1;
}

li div i{
    margin-left: 10px;
}

li div span{
    margin-left: 10px; 
}