.container{
    width: 100%;
}

.tabItemContainer{
    display: inline-block;
    padding: 0 5px;
    min-width: 60px;
    max-width: 150px;
    box-sizing: border-box;
}

.tabItemContainer span{
    padding:0 5px;
    background-color: #FFF;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-bottom: 0px;
}

.checked{
    background-color: rgb(0,188,212);
    color:#FFF;
}

.leftArrow{
    position: absolute;
    left: 4px;
    top: 0;
    font-size: 25px;
    cursor: pointer;
}

.rightArrow{
    position: absolute;
    right: 4px;
    top: 0;
    font-size: 25px;
    cursor: pointer;
}

.add_btn{
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 20px !important;
    margin-top: -13px;
    background-color: #FFF;
    cursor: pointer;
}