.container{
    margin-bottom: 8px;
    margin-top: 8px;
}

.input{
    appearance: none;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 3px;
    color: #333;
    border: 1px solid #525252;
    transition: border-color .15s ease-in-out;
    height: 30px;
    margin-left: 14px;
    width: 182px;
}