.sceneContainer{
    width: 100px;
    height: 146px;
    padding-top: 23px;
    display: inline-block;
    box-sizing: border-box;
    padding-left:5px;
    padding-right:5px; 
}

.scene{
    width: 100%;
    height: 90px;
    overflow: hidden;
    border: 5px;
}

.scene:hover{
    border: 3px solid blanchedalmond
}

.selected{
    border: 3px solid blanchedalmond
}

.name{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.addScene{
    text-align: center;
    font-size: 15px;
}

.addBtnContainer{
    width: 80px;
    height: 80px;
    overflow: hidden;
    padding: 5px;
    border: 1px dashed #ccc;
    display: inline-block;
    vertical-align: 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}